.ogCenterIcon {
    height: 12px;
    width: 12px;
    margin-bottom: -3.5px;
    margin-right: -7.5px;
    bottom: 50%;
    right: 50%;
    position: absolute;
}

.ogHandPoiner {
    cursor: pointer;
}

.defaultText {
    position: absolute;
    font: 16px;
    font-family: Consolas, monaco, monospace;
    z-index: 1000;
    top: 0px;
    left: 0px;
    color: white;
}

#ogShowFpsControl {
    color: red;
}

.ogGrabbingPoiner {
    cursor: url(data:text/plain;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAAH/AAAB/wAAA/0AAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//+AB///wAf//4AH//+AD///yT/////////////////////////////8=), default !important;
}

.ogViewport {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    background-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

.ogLayerSwitcherButton {
    top: 10%;
    right: 0px;
    width: 19px;
    height: 19px;
    position: absolute;
    background-color: rgba(22, 76, 155, 1) !important;
    z-index: 12000;
}

.ogAttribution {
    background: rgba(255, 255, 255, 0.8);
    text-align: right;
    bottom: 0;
    right: 0;
    position: absolute;
    height: 20px;
}

    .ogAttribution img {
        max-height: 2em;
        width: auto;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }

    .ogAttribution ul {
        font-size: .7rem;
        color: black;
        /*text-shadow: 0 0 2px #fff;*/
        margin: 0;
        padding: 1px 0px 1px 0px;
        line-height: 1.375em;
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    }

    .ogAttribution li {
        display: inline;
        list-style: none;
        line-height: inherit;
        margin-left: 5px;
        margin-right: 5px;
    }

.ogZoomControl {
    background-clip: padding-box;
    height: 70px;
    width: 40px;
    box-shadow: 0px 1px 4px rgba(15, 15, 15, 0.17);
    z-index: 0;
    position: absolute;
    outline: none;
    cursor: pointer;
    bottom: 65px;
    right: 12px;
    background-color: rgba(64, 59, 59, 0.85);
    border-radius: 2px;
}

.ogZoomButton {
    z-Index: 50000;
    width: 100%;
    height: 50%;
    border: none;
    background-size: 15px !important;
    background-position: 12px 10px !important;
    cursor: pointer;
    outline: none;
}

.ogZoomIn {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAdCAYAAAC5UQwxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAClSURBVEhL7daxDcQwDAPArPYbZFd7kGzzpWIFfiCmSbjIK5WKK0IIYhMB3szsVTSMRMNINIxEQ6XW+iml7HeesVmFhkorOBoDB5tVaKj4cijLwgkNFV8OZVk4GT76nflS5dtgoWds9oJ3OhS2AT9mXPjUfu/Iwn/Qha//NCt9CRbm4Q9oqPhyKMvCCQ0VXw5lsYX9Tq/H0w/e2QoNI9EwEg3j2HYC0DJ34KKb/uIAAAAASUVORK5CYII=) top left no-repeat;
}

.ogZoomOut {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAdCAYAAAC5UQwxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAABxSURBVEhL7dKxDcAgDAVRVssG7GoGyUYO6UC6dD6qFK/ghPgNLTOPwmjCaMJowmjCaMJowmjCaMJowmjaDmOMKyLuSu+b68Y2OC/0KYv1deMfrPA9ePzTnIDRhNGE0YTRhNGE0YTRhNGE0YTRhNGT7QHh3Hk0K/0NYAAAAABJRU5ErkJggg==) top left no-repeat;
}

@media (hover: hover) {
    .ogZoomIn:hover {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAJsSURBVEhLxda7ihVBEMbxdb3fQEVEMTFSMTDRSBB8AGONNDY29BkMFd/PQPCCweYyfr9hapjT9roHXM80/GG2Ll/11FT3nr1hGLblxMR+ONnAVv5e7h90jR2q4KlwNpwPFyY8s/HVBnoaG3SNDVX0TLgUroWb4faEZzY+MVsV7xobCJ0Ol8OtcDc8Ck8mPLPxiRErp6c10zUusHPfUDtvhAfhbXgfPk54ZuMTI1bOX9+6a1wg2bfzJnfC0/A5tIuNT4xYOf9UuNp8NdwPz8OX0C42PjFij2x3z2inhZaZ2OvhYXgZvoZ2sfGJESun2l1s1Fn+wWmXErTKrs8F02pwHofX4XtoFxufGLFy5NKgRZP2vIG2qEDD4TtdCXZfk/wsvAk/QrvY+MTUhMulQYtmtX8svizqDAoymYbkXtA6x4WgVr4LP0O72PjEiJUjlwYtmrTnc16FteNicBk4FibUsLwIr4K3IfwpHIR2sfGJEStHLg1aNGmrMU68wjVAbh9tciYdD5NqaL4FrfRWCvwK7WLjEyNWjlwatGjSVkOtfYXtwDewIy1yIRz3oklbjfGCqcIue/euK/BDOO5Fk7Yaaq1feJVWrzZcqx2n1S6QZfGdXplt8Z3+k1jCWdTg2b3WaaWhaRcbnxixcuQutTbqbPzRodq/kx8CS+xUq3wnQ2JCHY92sfGJETtObuhpjnSNCyRrmeEwmY6FM+lC+K8/9lDt9iY14Y6LKxCea5LFHNlmdI0Ndk7IGTStbh+XgXsXntn45nMaelozXWOHKu7bmVjtdNnDMxvfVkXRNR4CwdqAb7ikCm5VdBiGvd+wSIGUtsOkBQAAAABJRU5ErkJggg==) top left no-repeat;
    }
}

@media (hover: hover) {
    .ogZoomOut:hover {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAE7SURBVEhLxdXBSgJRGMVx0yxShCiJwI0rBYkM3AW9QVsXok/hc7jsCV0E1kOM5y/duHP5kHGy7w78FvN57znD6IyNoijquEhYa44yhx7MoQdz6MEcejCHHsyhB2uYPirNmtKcUk98EkpaciltufojMsgiM1xMqTiUsvBGenIrd3Iv/ROxh71kkEUm2b/lcSlXyKIHGcpYnuRZpvJSEWvZw14yyCKTbDoO5aGY29GVR5nIm7zLXBaylFVFrGUPe8kgi0yy6aDrUMz9vxZuzUjWspVP2cnXj++Kwnr2kkEWmWTTQVeTYq6A74ArmslGzn2QSTYddLVCcUcG8iofcu6DTLLpoCt/cZZbne3Hle1xyvYCictdX5lpueufRIwPY2yoI80p9ZROPJlDD+bQgzn0YA49mEMP5vD/FY09SuYbVKRjctAAAAAASUVORK5CYII=) top left no-repeat;
    }
}

#ogLayerSwitcherButtonMinimize {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAAAWUlEQVQ4T7WRwQnAMAwDvf+WhULHcPsSDjkIStyDe0Ry/HG0kplHCiodBZWOYgo+6uBKQWHNVgoqXTHccXg895WO9e8/i07EcMe+q3UsElQ6CiodBZWOjUS8VrAiaVC/GgQAAAAASUVORK5CYII=) top left no-repeat;
}

#ogLayerSwitcherButtonMaximize {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAAAYklEQVQ4T82PwQnAMAwDvf+WhULHcDEkYIGaRIaGHNzDDx3YvnB3qgyLhDIsEpZ57svDdtbZH5r9PwrBFg5CKdRHq+btPyFGH7UTgC0chOXQjFFI4pxQ/j8rwyKhDIuEHLMXAr14nPGmYYMAAAAASUVORK5CYII=) top left no-repeat;
}

#ogLayerSwitcherDialog {
    overflow: auto;
    height: 70%;
    position: absolute;
    bottom: 25px;
    top: 10%;
    right: 0px;
    width: 17em;
    background-color: rgba(22, 76, 155, 0.4);
    z-index: 5000;
    padding: 0 0 0 10px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    border-radius: 2px;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.layersDiv {
    margin-left: 3px;
    margin-bottom: 5px;
    color: white;
    font-size: 1.2em;
}

.ogLayerSwitcherInput {
    cursor: pointer;
}

.ogLayerSwitcherLabel {
    font-size: 0.8em;
}

.ogEarthCoordinatesControl {
    color: white;
    cursor: pointer;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-color: rgba(64, 59, 59, 0.85);
    bottom: 28px;
    right: 12px;
    font-size: 0.9em;
    position: absolute;
    z-index: 5000;
    padding: 3px 7px 3px 7px;
    /* text-shadow: 0 0 5px #fff; */
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(64, 59, 59, 0.17);
    font-size: 14px;
    overflow: hidden;
    text-overflow: clip;
    height: 20px;
}


.ogConsole {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 70%;
    overflow: auto;
    font-size: 12px;
    font-family: Tahoma;
    background-color: rgba(130, 130, 130, 0.49);
    color: white;
    z-index: 100000000;
}

.ogConsole-text {
    padding: 7px;
    overflow: hidden;
}

.ogConsole-error {
    color: red;
}

.ogConsole-warning {
    color: yellow;
}

.ogViewExtentBtn {
    float: left;
    width: 17px;
    height: 17px;
    cursor: pointer;
    -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwMCAxMDAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48bWV0YWRhdGE+IFN2ZyBWZWN0b3IgSWNvbnMgOiBodHRwOi8vd3d3Lm9ubGluZXdlYmZvbnRzLmNvbS9pY29uIDwvbWV0YWRhdGE+PGc+PHBhdGggZD0iTTUwMC4xLDMyMS43Yy05OC40LDAtMTc4LjIsNzkuOC0xNzguMiwxNzguMmMwLDk4LjQsNzkuOCwxNzguMiwxNzguMiwxNzguMmM5OC40LDAsMTc4LjItNzkuOCwxNzguMi0xNzguMkM2NzguMyw0MDEuNSw1OTguNSwzMjEuNyw1MDAuMSwzMjEuN3ogTTg5OC4yLDQ1NS40Yy0yMC41LTE4NS43LTE2OC0zMzMuMS0zNTMuNy0zNTMuN1YxMGgtODkuMXY5MS44Yy0xODUuNywyMC41LTMzMy4xLDE2OC0zNTMuNywzNTMuN0gxMHY4OS4xaDkxLjhjMjAuNSwxODUuNywxNjgsMzMzLjEsMzUzLjcsMzUzLjdWOTkwaDg5LjF2LTkxLjhjMTg1LjctMjAuNSwzMzMuMS0xNjgsMzUzLjctMzUzLjdIOTkwdi04OS4xQzk5MCw0NTUuNCw4OTguMiw0NTUuNCw4OTguMiw0NTUuNHogTTUwMC4xLDgxMS44Yy0xNzIuMiwwLTMxMS44LTEzOS43LTMxMS44LTMxMS44YzAtMTcyLjIsMTM5LjctMzExLjgsMzExLjgtMzExLjhjMTcyLjIsMCwzMTEuOCwxMzkuNywzMTEuOCwzMTEuOEM4MTEuOSw2NzIuMSw2NzIuMiw4MTEuOCw1MDAuMSw4MTEuOHoiLz48L2c+PC9zdmc+);
    -webkit-mask-size: 17px;
    background: #d8d8d8;
    margin-top: 2px;
}

    .ogViewExtentBtn:hover {
        background: white;
    }


/**
     *DebugInfo
     */
.og-debug-info {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: arial;
    font-size: 14px;
    width: 250px;
    text-shadow: 0px 0px 3px #616161;
    padding: 10px;
    pointer-events: none;
}

    .og-debug-info .og-watch-line {
        width: 100%;
        padding-bottom: 5px;
        display: inline-block;
    }

.og-watch-line .og-watch-label {
    float: left;
    width: 75%;
}

.og-watch-line .og-watch-value {
    float: left;
    width: 25%;
}
