root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

max_line_length = off

[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 4

[*.{json,yml,yaml}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{html,css,scss}]
indent_size = 4

[*.{glsl,vert,frag,vs,fs,gs,tesc,tese,comp}]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off

[*.sh]
indent_style = space
indent_size = 2