#circleG{
width:18.666666666666668px;
position: absolute;
bottom: 0;
right: 0;
padding: 5px 5px 5px 5px; 
}

.circleG{
background-color:#FFFFFF;
float:left;
height:4px;
margin-left:2px;
width:4px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:0.75s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:3px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:0.75s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:3px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:0.75s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:3px;
-o-animation-name:bounce_circleG;
-o-animation-duration:0.75s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:3px;
animation-name:bounce_circleG;
animation-duration:0.75s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:3px;
}

#circleG_1{
-moz-animation-delay:0.15s;
-webkit-animation-delay:0.15s;
-ms-animation-delay:0.15s;
-o-animation-delay:0.15s;
animation-delay:0.15s;
}

#circleG_2{
-moz-animation-delay:0.35s;
-webkit-animation-delay:0.35s;
-ms-animation-delay:0.35s;
-o-animation-delay:0.35s;
animation-delay:0.35s;
}

#circleG_3{
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}