body {
    font-size: 100%;
    line-height: 1.5;
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

.h3, h3 {
    font-size: 1.5em;
}


.slicknav_menu {
    display: none;
    background: white;
}

.slicknav_btn {
    background: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
}

.slicknav_nav a {
    color: blue;
}

.slicknav_nav {
    text-align: right;
    font-size: 14px;
}

.slicknav_menu .slicknav_icon-bar {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.58);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.58);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.58);
}

.slicknav_menu .slicknav_icon {
    float: right;
}

.bigLogo {
    display: block;
}

.logo {
    float: left;
    position: absolute;
    color: initial;
    font-weight: initial;
    text-shadow: initial;
}

@media screen and (max-width: 40em) {
    /* #menu is the original menu */
    #menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    .bigLogo {
        display: none;
    }

    #nav {
        display: none;
    }
}

.floatright {
    float: right;
    padding-top: 5px;
}

.nav_container {
    margin-left: auto;
    margin-right: auto;
    width: 60em;
}

#nav {
    width: 100%;
    background: #fff;
    height: 49px;
}

    #nav li {
        display: inline-block;
        padding: 0em 0.5em;
        color: blue;
    }

    #nav a {
        text-decoration: none;
        font-size: 1.05em;
    }

        #nav a:hover {
            text-decoration: underline;
        }

    #nav ul {
        padding: 0;
        margin: 0;
    }

.container {
    max-width: 60em;
    margin: 0 auto;
}

.logo a {
    text-decoration: none;
}

h3.tagline {
    font-weight: 300;
    font-size: 1.5em;
    margin-top: -.75em;
    padding: 0;
    color: #777;
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    float: left;
    font-size: 1.5em;
}

    .logo span {
        color: red;
        font-size: .5em;
    }

.titlecontainer {
    /*background-color: #e4e6ff;*/
    height: 50px;
}

.bottomcontainer {
    /*background-color: #e4e6ff;*/
    height: 25px;
}

.announcement {
    background: #eee;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.features ul {
    padding-left: 1.6em;
    margin: 0 0 1.8em;
}

.no-break {
    display: inline-block;
    width: 100%;
}

.features {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.quiet {
    color: #999;
}

.indev {
    color: red;
}

.container pre code {
    font-size: 14px;
}
