body {
    font-size: 100%;
    line-height: 1.5;
    color: #3e3e3e;
    /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Quattrocento Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

button {
    padding: 8px 15px 8px 15px;
    margin: 10px 5px 0px 0px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

.h3, h3 {
    font-size: 1.5em;
}


.slicknav_menu {
    display: none;
    background: white;
    padding: 0;
    margin: 0;
}

.slicknav_btn {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    background: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
}

.slicknav_nav a {
    color: blue;
}

.slicknav_nav {
    text-align: right;
    font-size: 1.05em;
    color: black;
}

.slicknav_nav .slicknav_txtnode{
    margin-right: 15px;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: blue;
    display: block;
    width: 35px;
    height: 4px;
    /* -webkit-border-radius: 1px; */
    /* -moz-border-radius: 1px; */
    /* border-radius: 1px; */
    /* -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25); */
    -moz-box-shadow: 0 0px 0 rgba(29, 0, 148, 0.6);
    box-shadow: 0 0px 0 rgba(29, 0, 148, 0.6);
    margin-bottom: 6px;
    margin-top: 2px;
    /* margin-right: 5px; */
}

.slicknav_menu .slicknav_icon {
    float: right;
    margin-right: 30px;
    padding-top: 5px;
}

.bigLogo {
    display: block;
}

.logo {
    float: left;
    position: absolute;
    color: initial;
    font-weight: initial;
    text-shadow: initial;
    font-weight: 700;
}

@media screen and (max-width: 40em) {
    /* #menu is the original menu */
    #menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    .bigLogo {
        display: none;
    }

    #nav {
        display: none;
    }
}

.floatright {
    float: right;
    padding-top: 5px;
}

.nav_container {
    margin-left: auto;
    margin-right: auto;
    width: 60em;
}

#nav {
    width: 100%;
    background: #fff;
    height: 32px;
}

    #nav li {
        font-size: 0.87em;
        padding: 0em 0.3em;
        display: inline-block;
    }

    #nav a {
        text-decoration: none;
        color: blue;
    }

        #nav a:hover {
            text-decoration: underline;
        }

    #nav ul {
        padding: 0;
        margin: 0;
        padding-top: 5px;
    }

.container {
    max-width: 60em;
    margin: 0 auto;
}

.logo a {
    text-decoration: none;
}

h3.tagline {
    font-weight: 300;
    font-size: 1.5em;
    margin-top: -.75em;
    padding: 0;
    color: #777;
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    float: left;
    font-size: 1.5em;
    line-height: 1.5;
    padding-top: 3px;
    color: blue;
}

    .logo span {
        color: red;
        font-size: .45em;
    }

.titlecontainer {
    /*background-color: #e4e6ff;*/
    height: 50px;
}

.bottomcontainer {
    /*background-color: #e4e6ff;*/
    height: 25px;
}

.announcement {
    background: #eee;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.features ul {
    padding-left: 1.6em;
    margin: 0 0 1.8em;
}

.no-break {
    display: inline-block;
    width: 100%;
}

.features {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.quiet {
    color: #999;
}

.indev {
    color: red;
}

code {
    font-size: 14px;
}

.container pre code {
    font-size: 14px;
    font-family: monospace;
}

.col-sm-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: calc(25% - 30px);
}

.row {
}

.row:before {
    display: table;
    content: " ";
}

.example {
    display: block;
    padding: 10px;
    background-color: #F5F5F5;
    height: 100px;
    margin: 10px 0;
    overflow: hidden;
    text-decoration: none;
}

.example p.description {
    font-size: smaller;
    margin: 12px 0;
}

.example small{
    color: #7070ff;
    font-size: 10px;
}

.example:hover {
    background-color: #e8e8ff;
}

.example a:focus, a:hover {
    color:#0000c1;
    text-decoration: underline;
}

b, strong {
    font-weight: 700;
}

#examplesContainer{
    width:100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

@media screen and (max-width: 40em) {
    .col-sm-4{
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 30em) {
    .col-sm-4{
        width: calc(100% - 30px);
    }
}
